body {
    padding: 20px;
}

.spell-dashboard-container {
    display: flex;
    flex-direction: column;
}

.spell-errors {
    height: 20px;
    color: red;
    padding: 10px 0;
}

.spell-dashboard {
    display: flex;
    flex-direction: column;
}

.spell-name {
    margin: 10px 0;
}

.spell-requirements {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.spell-info {
    display: flex;
    flex-direction: column;
}

.spell-info-header {
    display: flex;
}

.spell-info:first-child {
    min-width: 180px;
}

.spell-info:last-child {
    justify-self: center;
}

.spell-description {
    width: 75%;
    text-align: justify;
    min-width: 290px;
}

h2.spell-description {
    margin: 10px 0;
}

