body {
    padding: 20px;
    /* background-image: url("background.jpg"); */
}

/* SPELL DASHBOARD STYLING */

.spell-dashboard-container {
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', cursive;
}

.spell-search {
    margin-top: 50px;
}

.spell-search > input[type=text] {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    outline: none;
}

.spell-search > button {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.spell-errors {
    height: 20px;
    color: red;
    padding: 10px 0;
}

.spell-dashboard {
    display: flex;
    flex-direction: column;
    border: solid 5px transparent;
    box-shadow: 5px 10px 18px burlywood;
    border-radius: 15px 50px;
    background-image: url("./fresh-snow.png");
    background-color: burlywood;
    padding: 20px;
    min-width: 350px;
    max-width: 550px;
    /* width: 350px; */
}

.spell-dashboard-header {
    display: flex;
    align-items: baseline;
}

.spell-name {
    margin: 10px 0;
    min-width: 230px;
    width: 230px;
}

.spell-level {
    width: 150px;
}

.spell-requirements {
    display: flex;
    flex-direction: column;
}

.spell-info {
    display: flex;
    flex-direction: column;
}

.spell-info-header {
    display: flex;
    min-width: 290px;
    justify-content: space-between;
}

.spell-info:first-child {
    min-width: 230px;
}

.spell-info:last-child {
    justify-self: flex-start;
    min-width: 150px;
}

.spell-description {
    text-align: justify;
    min-width: 290px;
}

.spell-description-paragraphs {
    max-height: 200px;
    overflow-y: scroll;
}

.spell-description-paragraphs::-webkit-scrollbar {
    display: none;
}

h2.spell-description {
    margin: 10px 0;
}

/* SPELL SLOTS STYLING */

.spell-slots-container {
    display: flex;
    flex-wrap: wrap;
}

.spell-level, .spells {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

.spell-slots {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
}

.spell-level-header {
    margin: 5px 0;
}

.spells input[type="text"] {
    margin: 2px 0;
}